# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
dist/
build/
.env
.venv
env/
venv/
mysql_data/

# OS metadata
.DS_Store
Thumbs.db
